<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Вимикаємо sandbox для доступу до Accessibility API -->
	<key>com.apple.security.app-sandbox</key>
	<false/>
	
	<!-- Дозволяємо debugging в Debug режимі -->
	<key>com.apple.security.get-task-allow</key>
	<true/>
</dict>
</plist>

